# IDE #
/.idea/
*.iml
gradle.properties

# Build #
/.gradle/
*/.gradle/
/gradle/wrapper/gradle-wrapper.jar
*/gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat
/build/
*/build/

.gradle
build*

# Temp #
/log/